/* pseudoklasa :root zmienne globalne*/
:root {
  --color-text-primary: #212121;
  --color-text-secondary: #2196f3;
  --color-text-light: #ffffff;
  --color-text-contact: #757575;
  --color-bgcolor-primary: #ffffff;
  --color-bgcolor-secondary: #eeeeee;
  --color-bgcolor-dark: #2f303a;
  --font-family-secondary: 'Raleway', sans-serif;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--color-text-secondary);
}
body {
  background-color: var(--color-bgcolor-primary);
  text-decoration: none;
}
.link-contact {
  color: var(--color-text-contact);
}
/* .header {
  overflow: hidden;
}
.header a {
  float: left;
} */
.logo {
  color: var(--color-text-secondary);
  font-family: var(--font-family-secondary), sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  display: inline-block;
  pointer-events: none;
}
.nav-menu,
.nav-contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
}
.nav-menu li {
  display: inline-block;
}
.nav-contacts li {
  display: inline-block;
}
.btn {
  cursor: pointer;
  background-color: #f5f4fa;
  text-decoration: none;
  text-align: center;
}
