/* pseudoklasa :root zmienne globalne*/
:root {
  --color-text-primary: #212121;
  --color-text-secondary: #2196f3;
  --color-text-light: #ffffff;
  --color-bgcolor-primary: #ffffff;
  --color-bgcolor-secondary: #eeeeee;
  --color-bgcolor-dark: #2f303a;
  --font-family-secondary: 'Raleway', sans-serif;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--color-bgcolor-primary);
}
.link {
  color: var(--color-text-primary);
}
.logo {
  text-decoration: none;
  color: var(--color-text-secondary);
  font-family: var(--font-family-secondary), sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
}
.nav-menu {
  text-decoration: none;
  /* list-style-type: none; */
}
.nav-menu li {
  display: inline-block;
}
.nav-contact-links {
  color: #757575;
}
.nav-contact-links .link:hover,
.nav-contact-links .link:focus {
  color: var(--color-text-primary);
}
button {
  cursor: pointer;
  background-color: #f5f4fa;
  text-decoration: none;
  text-align: center;
}
