/* pseudoklasa :root zmienne globalne*/
:root {
  --color-text-primary: #212121;
  --color-text-secondary: #2196f3;
  --color-text-light: #ffffff;
  --color-bgcolor-primary: #ffffff;
  --color-bgcolor-secondary: #eeeeee;
  --color-bgcolor-dark: #2f303a;
  --font-family-secondary: 'Raleway', sans-serif;
}
body {
  background-color: #ffffff;
}
.button {
  color: #f5f4fa;
}
