/* pseudoklasa :root zmienne globalne*/
:root {
  --color-text-primary: #212121;
  --color-text-secondary: #2196f3;
  --color-text-light: #ffffff;
  --color-text-contact: #757575;
  --color-text-contact-f: #ffffff60;
  --color-bgcolor-primary: #ffffff;
  --color-bgcolor-secondary: #eeeeee;
  --color-bgcolor-dark: #2f303a;
  --color-btn-primary: #f5f4fa;
  --font-family-secondary: 'Raleway', sans-serif;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-bgcolor-primary);
}
.nav-top ul li {
  display: inline-block;
}
.nav-logo,
.nav-footer-logo {
  text-decoration: none;
  color: var(--color-text-secondary);
  font-family: var(--font-family-secondary), sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: inline-block;
}
.nav-menu,
.nav-contacts {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: inline-block;
}
.link {
  color: var(--color-text-primary);
}
.link:hover,
.link:focus {
  color: var(--color-text-secondary);
}
.link-contact,
.link-contact:hover {
  color: var(--color-text-contact);
}
.portfolio {
  display: inline-block;
}
.btn-filter {
  cursor: pointer;
  color: var(--color-text-primary);
  background-color: var(--color-btn-primary);
  text-decoration: none;
  text-align: center;
  border: none;
}
.btn-filter:hover,
.btn-filter:focus {
  color: var(--color-text-light);
  background-color: var(--color-text-secondary);
}
.container-bg {
  display: inline-block;
  /* color: var(--color-text-primary); */
}
section h3 {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
section p {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.nav-footer {
  background-color: var(--color-bgcolor-dark);
}
.nav-footer ul {
  text-decoration: none;
  color: var(--color-text-light);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
