/* pseudoklasa :root zmienne globalne*/
:root {
  --color-text-primary: #212121;
  --color-text-secondary: #2196f3;
  --color-text-light: #ffffff;
  --color-bgcolor-primary: #ffffff;
  --color-bgcolor-secondary: #eeeeee;
  --color-bgcolor-dark: #2f303a;
  --font-family-secondary: 'Raleway', sans-serif;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #ffffff;
}
.link {
  color: #212121;
}
.nav-logo {
  text-decoration: none;
  color: #2196f3;
}
.nav-menu {
  text-decoration: none;
}
.nav-contact-links {
  color: #757575;
}
.nav-contact-links .link:hover,
.nav-contact-links .link:focus,
.nav-contact-links .link:active {
  color: #2196f3;
}
button {
  cursor: pointer;
  background-color: #f5f4fa;
  text-decoration: none;
  text-align: center;
}
